In [41]:
#START
import pandas as pd
from sqlalchemy import create_engine

In [48]:
## Importing the Netflix CSV and converting it into a dataframe to clean and edit ##
netflix_csv = "./Resources/netflix_titles.csv"
netflix_df = pd.read_csv(netflix_csv)
netflix_df.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,81145628,Movie,Norm of the North: King Sized Adventure,"Richard Finn, Tim Maltby","Alan Marriott, Andrew Toth, Brian Dobson, Cole...","United States, India, South Korea, China","September 9, 2019",2019,TV-PG,90 min,"Children & Family Movies, Comedies",Before planning an awesome wedding for his gra...
1,80117401,Movie,Jandino: Whatever it Takes,NaN,Jandino Asporaat,United Kingdom,"September 9, 2016",2016,TV-MA,94 min,Stand-Up Comedy,Jandino Asporaat riffs on the challenges of ra...
2,70234439,TV Show,Transformers Prime,NaN,"Peter Cullen, Sumalee Montano, Frank Welker, J...",United States,"September 8, 2018",2013,TV-Y7-FV,1 Season,Kids' TV,"With the help of three human allies, the Autob..."
3,80058654,TV Show,Transformers: Robots in Disguise,NaN,"Will Friedle, Darren Criss, Constance Zimmer, ...",United States,"September 8, 2018",2016,TV-Y7,1 Season,Kids' TV,When a prison ship crash unleashes hundreds of...
4,80125979,Movie,#realityhigh,Fernando Lebrija,"Nesta Cooper, Kate Walsh, John Michael Higgins...",United States,"September 8, 2017",2017,TV-14,99 min,Comedies,When nerdy high schooler Dani finally attracts...

In [49]:
## Importing the Movie Streaming CSV and converting it into a dataframe to clean and edit ##
movies_csv = "./Resources/MoviesOnStreaming.csv"
movies_df = pd.read_csv(movies_csv)
movies_df.head()

,Unnamed: 0,ID,Title,Year,Age,IMDb,Rotten Tomatoes,Netflix,Hulu,Prime Video,Disney+,Type,Directors,Genres,Country,Language,Runtime
0,0,1,Inception,2010,13+,8.8,87%,1,0,0,0,0,Christopher Nolan,"Action,Adventure,Sci-Fi,Thriller","United States,United Kingdom","English,Japanese,French",148.0
1,1,2,The Matrix,1999,18+,8.7,87%,1,0,0,0,0,"Lana Wachowski,Lilly Wachowski","Action,Sci-Fi",United States,English,136.0
2,2,3,Avengers: Infinity War,2018,13+,8.5,84%,1,0,0,0,0,"Anthony Russo,Joe Russo","Action,Adventure,Sci-Fi",United States,English,149.0
3,3,4,Back to the Future,1985,7+,8.5,96%,1,0,0,0,0,Robert Zemeckis,"Adventure,Comedy,Sci-Fi",United States,English,116.0
4,4,5,"The Good, the Bad and the Ugly",1966,18+,8.8,97%,1,0,1,0,0,Sergio Leone,Western,"Italy,Spain,West Germany",Italian,161.0

In [50]:
netflix_col = ["show_id", "title", "rating", "duration"]
netflix_fil = netflix_df.loc[netflix_df["type"] == "Movie"]
netflix_fix = netflix_fil.reindex(columns=netflix_col)
netflix_fix.dropna()
netflix_fix.head()

    show_id                                    title rating duration
0  81145628  Norm of the North: King Sized Adventure  TV-PG   90 min
1  80117401               Jandino: Whatever it Takes  TV-MA   94 min
4  80125979                             #realityhigh  TV-14   99 min
6  70304989                                 Automata      R  110 min
7  80164077       Fabrizio Copano: Solo pienso en mi  TV-MA   60 min

In [51]:
movies_fixed = movies_df.drop(columns=['Hulu','Prime Video', 'Disney+','Type','Directors','Genres','Country', 'Language','Runtime'])
movies_fixed = movies_fixed.rename(columns={"Rotten Tomatoes": "rotten_tomatoes",
                                           "ID": "id",
                                           "Title": "title",
                                           "Year": "year",
                                           "Age": "age",
                                           "IMDb": "imdb",
                                           "Netflix": "netflix"})

movies_fixed.set_index("id")
movies_fixed = movies_fixed.drop(movies_fixed.filter(regex="Unname"),axis=1)

movies_fixed.head()

,id,title,year,age,imdb,rotten_tomatoes,netflix
0,1,Inception,2010,13+,8.8,87%,1
1,2,The Matrix,1999,18+,8.7,87%,1
2,3,Avengers: Infinity War,2018,13+,8.5,84%,1
3,4,Back to the Future,1985,7+,8.5,96%,1
4,5,"The Good, the Bad and the Ugly",1966,18+,8.8,97%,1

In [52]:
#Connection to the database
connection_string = "postgres:postgres@localhost:5432/movies_db"
engine = create_engine(f'postgresql://{connection_string}')

In [53]:
# Confirm tables
engine.table_names()

['netflix_data', 'streaming_data']

In [54]:
#load data into netflex data table
netflix_fix.to_sql(name='netflix_data', con=engine, if_exists='append', index=False)

In [55]:
#load data into streaming data table
movies_fixed.to_sql(name='streaming_data', con=engine, if_exists='append', index=False)

ProgrammingError: (psycopg2.errors.UndefinedColumn) column "id" of relation "streaming_data" does not exist
LINE 1: INSERT INTO streaming_data (id, title, year, age, imdb, rott...
                                    ^

[SQL: INSERT INTO streaming_data (id, title, year, age, imdb, rotten_tomatoes, netflix) VALUES (%(id)s, %(title)s, %(year)s, %(age)s, %(imdb)s, %(rotten_tomatoes)s, %(netflix)s)]
[parameters: ({'id': 1, 'title': 'Inception', 'year': 2010, 'age': '13+', 'imdb': 8.8, 'rotten_tomatoes': '87%', 'netflix': 1}, {'id': 2, 'title': 'The Matrix', 'year': 1999, 'age': '18+', 'imdb': 8.7, 'rotten_tomatoes': '87%', 'netflix': 1}, {'id': 3, 'title': 'Avengers: Infinity War', 'year': 2018, 'age': '13+', 'imdb': 8.5, 'rotten_tomatoes': '84%', 'netflix': 1}, {'id': 4, 'title': 'Back to the Future', 'year': 1985, 'age': '7+', 'imdb': 8.5, 'rotten_tomatoes': '96%', 'netflix': 1}, {'id': 5, 'title': 'The Good, the Bad and the Ugly', 'year': 1966, 'age': '18+', 'imdb': 8.8, 'rotten_tomatoes': '97%', 'netflix': 1}, {'id': 6, 'title': 'Spider-Man: Into the Spider-Verse', 'year': 2018, 'age': '7+', 'imdb': 8.4, 'rotten_tomatoes': '97%', 'netflix': 1}, {'id': 7, 'title': 'The Pianist', 'year': 2002, 'age': '18+', 'imdb': 8.5, 'rotten_tomatoes': '95%', 'netflix': 1}, {'id': 8, 'title': 'Django Unchained', 'year': 2012, 'age': '18+', 'imdb': 8.4, 'rotten_tomatoes': '87%', 'netflix': 1}  ... displaying 10 of 16744 total bound parameter sets ...  {'id': 16743, 'title': 'Man Among Cheetahs', 'year': 2017, 'age': None, 'imdb': 6.6, 'rotten_tomatoes': None, 'netflix': 0}, {'id': 16744, 'title': 'In Beaver Valley', 'year': 1950, 'age': None, 'imdb': None, 'rotten_tomatoes': None, 'netflix': 0})]
(Background on this error at: http://sqlalche.me/e/f405)

In [ ]:
#Test pulling query from Netfix database
pd.read_sql_query('select * from netflix_data', con=engine).head()

In [ ]:
#Test pulling query from Steaming database
pd.read_sql_query('select * from streaming_data', con=engine).head()